.DS_Store
build/
*.dll
*.approj
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
.sconsign.dblite
Cocos2DStateMachineDemo.spritebuilder/Source/Resources/Published-iOS
Cocos2DStateMachineDemo.spritebuilder/Published-Packages
*.ccb.ppng
Cocos2DStateMachineDemo.spritebuilder/Source/libs/cocos2d-iphone/cocos2d-tests-osx.xcodeproj/
Cocos2DStateMachineDemo.spritebuilder/Source/libs/cocos2d-iphone/cocos2d-tests-ios.xcodeproj/
Cocos2DStateMachineDemo.spritebuilder/Source/libs/cocos2d-iphone/installer/
Cocos2DStateMachineDemo.spritebuilder/Source/libs/cocos2d-iphone/templates/
Cocos2DStateMachineDemo.spritebuilder/Source/libs/cocos2d-iphone/tools/
Cocos2DStateMachineDemo.spritebuilder/Source/libs/cocos2d-iphone/Resources-Mac/
Cocos2DStateMachineDemo.spritebuilder/Source/libs/cocos2d-iphone/Resources-iPad/
*.ppng
Cocos2DStateMachineDemo.spritebuilder/Source/libs/cocos2d-iphone/cocos2d-ui-tests
Cocos2DStateMachineDemo.spritebuilder/Source/libs/cocos2d-iphone/Resources
Cocos2DStateMachineDemo.spritebuilder/Source/libs/cocos2d-iphone.backup*
Cocos2DStateMachineDemo.spritebuilder/Source/Resources/Published-Android
SBA0SS.itmsp

*.ppng

StateMachineDemo.spritebuilder/Packages/SpriteBuilder Resources.sbpack/MainScene.ccb.ppng

StateMachineDemo.spritebuilder/Source/Resources/Published-Android/MainScene.ccbi

StateMachineDemo.spritebuilder/Source/Resources/Published-iOS/MainScene.ccbi

StateMachineDemo.spritebuilder/StateMachineDemo.xcodeproj/project.xcworkspace/xcuserdata/sez.xcuserdatad/UserInterfaceState.xcuserstate

StateMachineDemo.spritebuilder/StateMachineDemo.xcodeproj/xcuserdata/sez.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
